.invalid-email {
    color: red;
    font-size: 10px;
}
#consent{
    padding-left: 20px;
}

.hidden {
    display: none;
}

.main-container {
    width: 98%;
    margin: auto;
}
.video-panel {
   width: 500px;
   margin: auto;
}
.description {
    float: left;
    width: 100%;
    padding-top: 5px;

}
@media (max-width: 500px) {
   .video-panel {
       width: 100%;
   }
}


.video-header {
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    background: #e1e1e1;
}

.video-frame {
    width: 100%;
    height: 400px;
}

.tags {
    color: blue;
    font-size: 0.9em;
}
